{% load static %}
{% block flight %}
<div class="headforflight"></div>
<div id="flightcontainer">
<div class="flightdata"></div>
</div>
<!--<div class="">
            <div class="callout callout-info">
              <h4>Disclaimer!</h4>
              <p>The Best Five flights to your Destination</p>
            </div>
          <div id="flighttest">
            <div class="box box-default">
              <div class="box-header with-border">
              Results One
              </div>
              <div class="box-body">
               Air Line: Brians Airline<br/>
                Price: $2000 <br/>
                 Air Line: Brians Airline<br/>
                Price: $2000 <br/>
                 Air Line: Brians Airline<br/>
                Price: $2000 <br/>
              </div>&lt;!&ndash; /.box-body &ndash;&gt;
            </div>&lt;!&ndash; /.box &ndash;&gt;

            <div class="box box-default">
              <div class="box-header with-border">
              Results One
              </div>
              <div class="box-body">
               Air Line: Brians Airline<br/>
                Price: $2000 <br/>
                 Air Line: Brians Airline<br/>
                Price: $2000 <br/>
                 Air Line: Brians Airline<br/>
                Price: $2000 <br/>
              </div>&lt;!&ndash; /.box-body &ndash;&gt;
            </div>&lt;!&ndash; /.box &ndash;&gt;
          </div>
</div>-->


{% endblock %}
