{% load static %}
{% block hotel %}
<!--<div class="headforflight"></div>-->
<!--<div id="flightcontainer">-->
<!--<div class="flightdata"></div>-->
<!--</div>-->


  <!--    <div class="">This is for the Hotels</div>
      <div class="">This is for the Hotels</div>
      <div class="">This is for the Hotels</div>
      <div class="">This is for the Hotels</div>
      <div class="">This is for the Hotels</div>-->

        <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Recently Added Products</h3>

                </div><!-- /.box-header -->
                <div class="box-body">
                  <ul class="products-list product-list-in-box">
                    <li class="item">
                      <div class="product-img">
                        <img src="{% static '/img/house.png' %}" alt="Product Image">
                      </div>
                      <div class="product-info">
                        <a href="javascript::;" class="product-title">Pauma's Palace <span class="label label-warning pull-right">$1800</span></a>
                        <span class="product-description">
                          Rating: 5.0.
                        </span>
                             <span class="product-description">
                          Location: Mbuya Kinawataka, Kampala, Uganda
                        </span>
                      </div>
                    </li><!-- /.item -->
                    <li class="item">
                      <div class="product-img">
                        <img src="{% static '/img/house.png' %}" alt="Product Image">
                      </div>
                      <div class="product-info">
                        <a href="javascript::;" class="product-title">Pauma's Palace <span class="label label-info pull-right">$700</span></a>
                        <span class="product-description">
                          Rating: 5.0.
                        </span>
                             <span class="product-description">
                          Location: Mbuya Kinawataka, Kampala, Uganda
                        </span>
                      </div>
                    </li><!-- /.item -->
                    <li class="item">
                      <div class="product-img">
                        <img src="{% static '/img/house.png' %}" alt="Product Image">
                      </div>
                      <div class="product-info">
                        <a href="javascript::;" class="product-title">Pauma's Palace <span class="label label-danger pull-right">$350</span></a>
                        <span class="product-description">
                          Rating: 5.0.
                        </span>
                          <span class="product-description">
                          Location: Mbuya Kinawataka, Kampala, Uganda
                        </span>
                      </div>
                    </li><!-- /.item -->
                    <li class="item">
                      <div class="product-img">
                        <img src="{% static '/img/house.png' %}" alt="Product Image">
                      </div>
                      <div class="product-info">
                        <a href="javascript::;" class="product-title">Pauma's Palace <span class="label label-success pull-right">$399</span></a>
                        <span class="product-description">
                          Rating: 5.0.
                        </span>
                          <span class="product-description">
                          Location: Mbuya Kinawataka, Kampala, Uganda
                        </span>
                      </div>
                    </li><!-- /.item -->
                  </ul>
                </div><!-- /.box-body -->

              </div>

{% endblock %}
