{% extends "base_generic.html" %}
{% block content %}
CESLeA (Communication, Empathy Sharing, Leading and Autonomy) is an intelligent travel agent that can have a conversion between users that
that have plans to travel to any part of the world to guide. It can guides users on travel places that are best for travelling to from
booking a flight to suggesting cheaper hotels for one to book for the time of stay. These are the important features for CESLeA:
{% endblock %}

{% block features%}
<!-- FEATURES -->
<ul id="features">
    <li>Recommends cheapest air flight prices</li>
    <li>Recommends cheaper hotels at the users destination</li>
    <li>Recommends Interesting places to visit  </li>
</ul>
{% endblock %}